{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "YOUTUBE_API_KEY": "paste-your-youtube-data-api-v3-key-here",
    "YOUTUBE_CHANNEL_ID": "UCxxxxxxxxxxxxxxxxxxxxxxxx",
    "YOUTUBE_PLAYLISTS_JSON": "[{\"id\":\"PLxxxxxxxxxxxxxxxxxxxxxxxxx\",\"label\":\"Serie Efesios\"},{\"id\":\"PLyyyyyyyyyyyyyyyyyyyyyyyyy\",\"label\":\"Prédicas 2026\"}]",
    "ALLOWED_ORIGIN": "https://ibgcajamarca.org"
  },
  "Host": {
    "CORS": "*"
  }
}
